.agentlist {
  display: inline-block;
  position: relative;
  width: 636px;
  overflow: hidden;
  overflow-y: scroll;
  direction: rtl;
  margin: 0 10px 0 0;
}

@media only screen and (max-width: 750px) {
  .agentlist {
    position: realtive;
    width: auto;
    margin: 0 5px;
  }
}
