.agentlist {
  display: inline-block;
  position: relative;
  width: 636px;
  overflow: hidden;
  overflow-y: scroll;
  direction: rtl;
}

@media only screen and (max-width: 750px) {
  .agentlist {
    height: 40%;
  }
}
