@import 'styles/vars.scss';

.agentdetail-wrap {
  display: inline-block;
  position: relative;
  width: 636px;
  background-color: $worldwide-overlay;
  border: 1px solid $white;
  padding: 66px;
  color: $white;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0 20px 0 0;
}

.agentdetail-country {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 3px 0;
}

.agentdetail-company {
  margin: 38px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}

.agentdetail-address {
  margin: 20px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}

.agentdetail-agent {
  margin: 35px 0 0 0;
  font-size: 16px;
  font-weight: 400;
}

.agentdetail-agentcontact {
  font-size: 14px;
  font-weight: 400;
}

.agentdetail-url {
  margin: 45px 0 0 0;
  font-size: 16px;
  font-weight: 400;
}

.agentdetail-rule {
  height: 1px;
  background-color: $white;
  border-width: 0;
}

@media only screen and (max-width: 750px) {
  .agentdetail-wrap {
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
  }

  .agentdetail-company {
    margin: 12px 0 0 0;
  }

  .agentdetail-agent {
    margin: 12px 0 0 0;
  }

  .agentdetail-url {
    margin: 12px 0 0 0;
  }
}
