@import 'styles/vars.scss';

.youtubelist-wrap {
  height: 100%;
}

.youtubelist-row {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0 50px 0 0;
  height: 100%;
}

.youtubelist-list {
  position: relative;
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 750px) {
  .youtubelist-row {
    justify-content: flex-start;
    position: relative;
    margin: 0 10px 0 10px;
  }
}
