$font-body: 'Sintony', sans-serif;
$font-headline: 'Montserrat', sans-serif;

$white: #fff;

$orange-base: #e6b380;
$orange-dark: #c26b15;
$orange-trans: rgba(248, 172, 65, 0.92);

$link-smalltext: rgba(255, 255, 255, 0.6);
$link-largetext: rgba(170, 118, 44, 0.2);

$library-overlay: rgba(84, 113, 91, 0.82);
$library-border: rgba(157, 214, 169, 0.82);
$library-background: rgb(84, 113, 91);

$recents-background: rgb(235, 205, 162);

$worldwide-overlay: rgba(179, 199, 153, 0.89);
