@import 'styles/vars.scss';

.aboutpage-wrap {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: $orange-base;
  background-image: url('../../img/about-bg.jpg');
  background-size: cover;

  overflow: hidden;
}

.aboutpage-topspacer {
  position: relative;
  height: 10%;
}

.aboutpage-row {
  position: relative;
  display: flex;
  justify-content: center;

  height: calc(100vh - 162px - 20px);

  overflow: hidden;
  color: $white;
  font-size: 14px;
}

.aboutpage-text {
  position: relative;
  max-width: 666px;
  height: 62%;
  overflow: hidden;
  overflow-y: scroll;

  padding: 40px;
  margin: 0 0 0 24px;

  font-weight: 300;

  background-color: rgba(255, 255, 255, 0.2);
}

.aboutpage-contact {
  max-width: 266px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 62%;
  margin: 0 24px 0 0;
  padding: 40px 40px 40px 6px;
}

.aboutpage-social {
  display: flex;
  flex-direction: column;
  color: $white;

  margin: 0 24px 0 0;
  padding: 48px 0 0 0;
  font-size: 24px;
}

.aboutpage-icon {
  margin: 0 0 24px 0;
}

.aboutpage-social a:link {
  color: white;
  transition: all 200ms ease-in-out;
}

.aboutpage-social a:visited {
  color: white;
}

.aboutpage-social a:hover {
  color: $orange-dark;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.aboutpage-social a:active {
  color: white;
}

@media only screen and (max-width: 750px) {
  .aboutpage-topspacer {
    position: relative;
    height: 20px;
  }
  .aboutpage-row {
    flex-direction: column;
    height: calc(100vh - 90px);
    padding-bottom: 20px;
  }

  .aboutpage-text {
    order: 3;
    margin: 0 10px;
    padding: 10px;
    height: auto;
  }

  .aboutpage-contact {
    order: 2;
    margin: 0 10px;
    padding: 10px;
    height: 144px;
    width: auto;
    max-width: 100%;
    overflow: hidden;
  }

  .aboutpage-social {
    order: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
    padding: 0;
  }
}
