@import 'styles/vars.scss';

.aboutpage-wrap {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: $orange-base;
  background-image: url('../../img/about-bg.jpg');
  background-size: cover;

  overflow: hidden;
}