@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,900|Sintony:400,700");
body {
  font-family: "Sintony", sans-serif;
  line-height: 1.4; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: white; }

a:hover {
  color: #C26B15;
  font-weight: bold; }

a:active {
  color: white; }

.homepage-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e6b380;
  background-image: url("../../img/home-bg.jpg");
  background-size: cover; }

.homepage-lead {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Sintony", sans-serif;
  letter-spacing: 4px; }
