@import 'styles/vars.scss';

.library-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $library-background;
  background-image: url('../../img/library-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.library-spacer {
  position: relative;
  height: 10%;
}

.library-row {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0;
}

.library-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10% 0 0;
  padding: 0;
  width: 580px;
  height: 390px;
  background-color: $library-overlay;
  border: 1px solid $library-border;
}

.library-copy {
  margin: 50px 0;
  color: $white;
  font-size: 12px;
  letter-spacing: 1px;
}

.library-headline {
  color: $white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}

.library-headline:hover {
  color: $library-border;
}
.library-link {
  display: inline-block;
}

.library-link:link {
  color: white;
  text-decoration: underline;
}

.library-link:visited {
  color: white;
}

.library-link:hover {
  color: $library-border;
}

.library-link:active {
  color: white;
}

@media only screen and (max-width: 750px) {
  .library-row {
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: scroll;
  }
  .library-list {
    margin: 0 auto;
    padding: 20px;
    width: 360px;
    height: 390px;
  }
}
