@import 'styles/vars.scss';

.notfound-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $library-border;
  background-image: url('../../img/notfound.jpg');
  background-size: cover;
  overflow: hidden;
}

.notfound-content {
  position: relative;
  width: 300px;
  margin: 0 0 0 40px;
  line-height: 1.1;
  font-weight: 900;
}

.notfound-title {
  color: $white;
  font-size: 75px;
}
.notfound-copy {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
