@import 'styles/vars.scss';

.recents-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $recents-background;
  background-image: url('../../img/recents-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.recents-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}


