@import 'styles/vars.scss';

.recents-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $recents-background;
  background-image: url('../../img/recents-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.recents-spacer {
  position: relative;
  height: 25px;
}

// .recents-content {
//   display: flex;
//   justify-content: flex-end;
//   position: relative;
//   margin: 0 50px 0 0;
// }
