@import 'styles/vars.scss';

.recents-content {
  height: 100%;
}
.recents-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $recents-background;
  background-image: url('../../img/recents-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.recents-spacer {
  position: relative;
  height: 25px;
}

@media only screen and (max-width: 750px) {
}
