@import 'styles/vars.scss';

.worldwidepage-wrap {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: $orange-base;
  background-image: url('../../img/agent-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.worldwidepage-spacer {
  position: relative;
  height: 25px;
}

.worldwidpage-row {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 187px);
  padding: 0 0 20px 0;
}

@media only screen and (max-width: 750px) {
  .worldwidpage-row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 90px);
    overflow: hidden;
  }
}
