@import 'styles/vars.scss';

.navilink-wrap {
  position: relative;
  display: inline-block;
  height: 28px;
}

.navilink-link {
  position: relative;

  padding: 10px 50px 10px 50px;

  color: white;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 3;
}

.navilink-largeText {
  position: absolute;
  display: none;
  top: 0px;
  left: -250px;

  color: $link-largetext;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: bold;
  font-weight: 900;

  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.navilink-description {
  display: none;
  position: absolute;
  top: 35px;
  left: 200px;
  width: 300px;

  color: $link-smalltext;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;

  pointer-events: none;
  opacity: 0;
  z-index: 2;
}

.navilink-link:hover ~ .navilink-largeText {
  display: inline-block;
  animation: showLinkText 1000ms ease-in-out forwards;
}
.navilink-link:hover ~ .navilink-description {
  display: inline-block;
  animation: showLinkText 600ms ease-in-out forwards;
}

.navilink-link:visited {
  color: white;
}
.navilink-link:hover {
  color: white;
  font-weight: bold;
}
.navilink-link:active {
  color: white;
}


@keyframes showLinkText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: -50px;
  }
}

