@import 'styles/vars.scss';

.mainloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $orange-dark;
}

.mainloader svg {
  width: 200px;
  padding: 50px;
}

.mainloader-animate {
  animation: mainloader-animate 2s ease-in-out infinite;
  transform-origin: center;
}

.mainloader-animate-1 {
  animation-delay: 0ms;
}
.mainloader-animate-2 {
  animation-delay: 200ms;
}
.mainloader-animate-3 {
  animation-delay: 400ms;
}

@keyframes mainloader-animate {
  0%,
  100% {
    transform: scale(1, 1);
  }
  20%,
  60% {
    transform: scale(1, 0);
  }
}
