@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,900|Sintony:400,700');

body {
  font-family: 'Sintony', sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

